{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "store/hero.html" %}
    {% include "store/stats.html" %}
    {% include "store/about.html" %}
    {% include "store/categories.html" %}
    {% include "store/featured_books.html" %}
    {% include "store/best_sellers.html" %}
    {% include "store/offers.html" %}
    {% include "store/author_spotlight.html" %}
    {% include "store/reading_section.html" %}
    {% include "store/why_choose_us.html" %}
    {% include "store/testimonials.html" %}
    {% include "store/gallery.html" %}
    {% include "store/events.html" %}
    {% include "store/delivery.html" %}
    {% include "store/contact.html" %}
    {% include "store/map.html" %}
    {% include "store/final_cta.html" %}
{% endblock %}
